
:root {
  --bg-color: #1a1a1d;
  --headline-color: black;
  --secondary-color: #86868b;
  --action-color: #D62839;
  --action-hover-color: #eb385f;


  --bg-color-dark: ##101010;
  --headline-color-dark: white;
  --secondary-color-dark: #fafafa;

  --card-height: 380px;
}

html {
  min-height: -webkit-fill-available;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
  background: #fafafa;
}

h1 {
  font-weight: 700;
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--action-color);
  transition: .2s;
}

a:hover {
  color: var(--action-hover-color);
}

a > i {
  font-size: 80%;
}

.section {
  max-width: 980px;
  margin: 0 auto;
  padding: 25px;
}

.header {
  background-color: white;
  padding-top: 50px;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.mini-card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  flex-grow: 1;
}

.subtitle {
  color: var(--secondary-color);
  font-size: 1.3rem;
}

.project {
  background-color: lightgrey;
  padding: 0 1rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: row;
}

.contact > a {
  padding: .5rem;
  border: 0 .4rem;
  border-color: var(--action-color);
  border-radius: 8px;
  background-color: white;
  color: black;
  transition: .1s;

  box-shadow: 0px 3px 15px rgba(0,0,0,0.07);
}

.contact > a:hover {
  background-color: var(--action-color);
  color: white;

  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.contact > a > i {
  margin-right: 7px;
}

.headshot {
  background-color: #fafafa;
  height: 13rem;
  border-radius: 100%;
}

#headline h1 {
  margin: 0;
  margin-bottom: 10px;
  color: var(--headline-color);
}

#headline p {
  margin: 0;
}

#headline {
  margin-bottom: 16px;
}

#bio {
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 10px;
}

#chevron {
  margin-left: 3px;
}

.card-miniheight {
  margin-top: 10px;
  border-radius: 8px;

  flex-grow: 1;

  padding: 25px;

  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.05);
}

.upnext {
  font-size: 1.2em;
}

.upnext-title {
  font-weight: 700;
}

.card {
  min-height: var(--card-height);
  
  border-radius: 8px;

  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.05);
}

.card-fullwidth {
  display: flex;
  direction: row;
}

.card-fullwidth-side {
  flex-grow: 1;
}

.card-side {
  min-width: 30%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.post-card {
  min-height: auto !important;
}

.card:hover {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.lower-half {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 10px 25px;
}

.lower-half > h2 {
  margin: 0;
}

.lower-half > p {
  color: #333;
  margin-top: 10px;
  line-height: 1.2;
}

.category {
  margin-bottom: 4px;
  color: #86868b;
  font-size: 80%;
  letter-spacing: .5px;
  text-transform: uppercase;

  margin-top: 0;
}

.lower-half > h2 {
  margin-top: 0;
}

.top-half {
  height: 180px;
  border-radius: 8px 8px 0 0;
  background-size: cover;
  background-position: center center;
}

.more-content {
  color: #a1a1a6;
  text-align: center;
}

.more-content > i {
  font-size: 250%;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--card-height);
  width: 100%;
}

.wide-spacing {
  line-height: 1.5 !important;
}

.influencd {
  background-color: #fe3353;
  background-image: url(portfolio/Influencd2.png);
  background-size: cover;
  background-position: center center;
}

.echo {
  background-color: #ccb7e0;
  background-image: url(portfolio/echo.png);
}

.dog {
  background-color: #fe815a;
  background-image: url(portfolio/dog.png);
}

.turn-based {
  background-color: #b24161;
  background-image: url(portfolio/turn-based.png);
}

.ux {
  background-color: #f0babf;
  background-image: url(portfolio/lecture.png);
}

.plant {
  background-color: #88e6d3;  /* fallback for old browsers */
  background-image: url(portfolio/plant.png);
}

.post-csam {
  background-color: #eb385f;
  background-image: url(projects/img/posts/csam/header.png);
}


.no-style {
  color: inherit !important;
}

@media (max-width: 800px) {
  .card-fullwidth {
    flex-direction: column;
    height: 500px;
  }

  .card-side {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }
  
  .mini-card-container {
    flex-direction: column;
    gap: 0px;
  }
}

@media (prefers-color-scheme: dark) {

  body {
    background: #1a1a1a;
    color: white;
  }

  .header {
    background-color: #0f0f0f;
  }

  #headline h1 {
    color: var(--primary-color-dark);
  }

  .subtitle {
    color: var(--secondary-color-dark);
  }

  .card {
    background-color: #0f0f0f;
  }

  .card-miniheight {
    background-color: #0f0f0f;
  }

  .lower-half > p {
    color: white;
  } 

  .category {
    color: #86868b !important;
  }

  .section {
    /* background-image: linear-gradient(0deg, rgba(26,26,26,1) 0%, rgba(45,45,45,1) 100%); */
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
 ========================================================================== */

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
